.footer{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
    background: #ccc;
    display: flex;
    justify-content: space-between;
}
.progress{
    width: 100px;
    background: rebeccapurple;
    box-shadow: 0 0 5px #f00;
    height: 10px;
}
.progress-bar{
    display: block;
    width: 0%;
    height: 100%;
    background: #f0ff0f;
}