.footer{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 70px;
    background: #1b1a22;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-btn-group{
    display: flex;
    height: 100%;
    width: 200px;
    justify-content: center;
    align-items: center;
}
.footer-btn-play{
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    margin: 0 6px;
    border: 2px solid #fff;
    border-radius: 50%;
    background: transparent;
    color: #fff;
    font-size: 16px;
}
.footer-btn-small{
    width: 30px;
    height: 30px;
    font-size: 14px;
}
.footer-image-content{
    width: 70px;
    height: 100%;
    overflow: hidden;
}

.footer-progress-content{
    display: flex;
    width: 480px;
    height: 70px;
}
.progress{
    width: 100px;
    background: rebeccapurple;
    box-shadow: 0 0 5px #f00;
    height: 10px;
}
.progress-bar{
    display: block;
    width: 0%;
    height: 100%;
    background: #f0ff0f;
}